---
import datos from '../../../data.json'
import Html from '../../icons/html.astro'
import Css from '../../icons/css.astro'
import Javascript from '../../icons/javascript.astro'
import Tailwind from '../../icons/tailwind.astro'
import React from '../../icons/react.astro'
import Node from '../../icons/node.astro'
import Sql from '../../icons/sql.astro'
import Php from '../../icons/php.astro'
import Next from '../../icons/next.astro'
import Git from '../../icons/git.astro'
import GitHub from '../../icons/GitHub.astro'
import Tecnologia from '../tecnologia.astro'

const { habilidades } = datos
const iconos = [
    { nombre: 'HTML', icono: Html },
    { nombre: 'CSS', icono: Css },
    { nombre: 'JavaScript', icono: Javascript },
    { nombre: 'Tailwind CSS', icono: Tailwind },
    { nombre: 'React', icono: React },
    { nombre: 'Node.js', icono: Node },
    { nombre: 'MySQL', icono: Sql },
    { nombre: 'PHP', icono: Php },
    { nombre: 'Next.js', icono: Next },
    { nombre: 'Git', icono: Git },
    { nombre: 'GitHub', icono: GitHub }
]
---
<section class="w-4/5 lg:w-1/2 mx-auto py-8">
    <main class="flex flex-col items-center gap-2 p-4">
        <h1 class="text-2xl md:text-4xl font-bold text-white">Habilidades</h1>
        <ul class="flex flex-wrap justify-center gap-3">
            {
                habilidades.map((habilidad) => {
                    const Icon = iconos.find((icono) => icono.nombre === habilidad).icono
                    return <Tecnologia Icono={Icon} tecnologia={habilidad} />
                })
            }
        </ul>
    </main>
</section>