---
interface Props {
    puesto: string;
    empresa: string;
    fecha: string;
    descripcion: string;
}

const { puesto, empresa, fecha, descripcion } = Astro.props;
---
<div class="flex flex-col gap-2">
    <header class="flex flex-col">
        <h2 class="text-xl font-bold text-white">{puesto}</h2>
        <span class="text-gray-300">{empresa}</span>
    </header>
    <hr class="border-t-2 border-gray-700" />
    <footer>
        <p class="text-balance text-gray-300">{fecha}</p>
        <p class="text-gray-300">{descripcion}</p>
    </footer>

</div>